
--------------------------------------------
This class helps you to have a clean configuration file. The main
structure of the configuration is as follows:

-----------
# Comments start with
[section name] # Another comment

variable = value
-----------

--------------------------------------------
The file may have multiple sections. In fact it can include other files just
by specifying the file name between <>. Example:

-----------
[sectionx]
# bla bla bla

# This includes a file
<file2.conf>
-----------

--------------------------------------------
Sometimes a value should be copied in many places. Instead of copying
the value all the time, it is possible to use some kind of defines. The only
restriction is that they should be declared before any section. Ex:

-----------
val = 3

[section1]
pepe = $(val) 
pepe2= $(val) 

# It is possible to declare environment variables to override the
# configuration file. The previous example can be overriden in two
# ways:
#
# export SESC_section1_pepe=4
# 
# export SESC_val=4
#
-----------

--------------------------------------------
It also lets you to do some arithmetic operations. Ex:

-----------
[sectionX]
val = (2+3)*-2.0   # This is -10
-----------

The interface for accessing this configuration is pretty easy. Ex:

SescConf->getLong("sectionName","variableName");

--------------------------------------------
Many times there is a necessity to set a constraint in the variable. Config also
helps you by providing a set of typical constraints. Ex:

SescConf->isRequired("a","b");  // Means that varible b in section a is required
SescConf->isBetween("a,"b",0,100); // b is between 0 and 100

// See Config.h for more constraints.

--------------------------------------------
Another interesting property is the capacity to override any variable declaration
with an environment variable. This is very useful for running scripts or debuging.

The syntax for bash is as follows:
export SESC_SECTION_VARIABLE=value

When there is no section :
export SESC_VARIABLE=value

--------------------------------------------
When the Config class is destroyed it dumps the configuration file, but only the used
variables and sections. This dump can be used as input for another run.

--------------------------------------------
The name of the configuration file is sesc.conf by default. This value can be override
with the environment variable called. SESCCONF. Ex:
export SESCCONF="sesc2.conf"

